@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    position: sticky;
    top: 0px;
}

/* Estilos del Top*/
.top{
    align-items: center;
    background-color: #222222;
    color: #f3F3F3;
    display: flex;
    flex-direction: row;
    font-weight: 400px;
    height: 20px;
    padding: 0px 86px 0px 90px;
}
.top p{
    flex-grow: 1;
}
.top select{
    background-color: rgba(1, 1, 1, 0);
    border: none;
    color: #fff;
    margin: 0px 4px;
}

.top option{
    color: #000;
}


/* Header y Nav */
.nav-banner{
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding: 0px 90px;
}

.nav-banner .logo{
    flex-grow: 1;
}

i{
    color: #fff;
    font-size: 15px;
    margin-right: 3px;
}
.nav-banner nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f3F3F3;

}
.nav-banner nav p{
    margin: 0px 10px;
    font-size: 18px;
}

.navHeader{
    display: none;
}

/*Estilos del slide*/
.slide{
    align-content: center; 
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 70vh;
    justify-content: flex-end;
}

.slide div{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.slide div h1{
    /*justify-content: center;*/
    color: #3C2313;
    background-color: #fff;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 500;    
}

.slide div p{
    color: #3C2313;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.slide div button{
    background-color: #F0A83E;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

/*Productos Destacados*/

.productos-destacados{
    text-align: center;
}
.productos-destacados img{
    margin: 20px 0 -20px 0;
}
.productos-destacados h2{
    color: #3C2313;
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    margin: 20px 0px;

}
.productos-destacados a{
    text-decoration: none;
    color: #666666;
}

.muestra-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 95px;
}

.muestra-productos .producto{
    background-color: #FBFAF6;
}
.producto h3{
    color: #3C2313;
}
.producto h4{
    color: #F0A83E;
    margin-bottom: 5px;
}

/* Suscribite */

.suscribete{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F0A83E;
    color: #fff;
    justify-content: space-between;
    height: 60px;
}

.suscribete div{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 47px;
    height: 40px;
}

.suscribete div p{
    font-weight: 700;
}

/* Footer */

.info{
    padding-top: 2.7rem;
    align-items: center;
    justify-content: space-between;
    background-color: #3C2313;
    display: flex;
    flex-direction: row;
    height: 42vh;
}

.circulo{
    background-color: #8A8787;
    border-radius: 50%;
    width: 58px !important;
    height: 57px !important;
    z-index: 1000;
}
.info div{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    margin: 8px 0px 8px 70px;
    overflow: hidden;
}
.info div div{
    align-items: left;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.info div div div{
    justify-content: top;
    height: 15.57vh;
}

.info .circulo{
    align-items: center;
    justify-content: center;
}

/* REVISAR ESTO PARA AJUSTAR */
.datos-de-contacto{
    display: flex;
    flex-direction: column !important;
    /*height: 90.67px !important;*/
    /*justify-content: center !important;*/
}

.logo-footer{
    width: 166px;
    margin-right: 70px;
}

.bottom{
    background-color: #222222;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 4px;
}

/* RESPONSIVE */

@media(max-width: 650px){

    .top{
        display: none;
    }

    .nav-banner nav{
        display: none;
    }

    .nav-banner{
        position: sticky;
        top: 0px;
    }

    .navHeader{
        display: flex;
        justify-content: right;
    }

    .muestra-productos{
        display: flex;
        flex-wrap: wrap;
        margin: 40px;
        justify-content: center;
    }

    .logo-footer{
        order: 0;
        justify-content: center;
        margin: auto;
    }

    .info{
        flex-direction: column;
    }

    .info div{
        order: 1;
    }

    .info img{
        padding-bottom: 1rem;
        margin-top: -1.5rem;
    }
}